<div>
<app-navbarhome></app-navbarhome>


<div class="h-[350px] p-2 w-full bg-cover" style="background-image: url(../../assets/doctor.jpg);">
    <!-- <img class="absolute h-[350px] w-[1600px]" src="../../assets/doctor.jpg" alt=""> -->
    <p class="mt-32  flex ml-[250px] text-6xl font-extrabold">Empowering health, Inspiring Hope</p>
</div>

</div>

 <div class="grid grid-cols-3 container mx-auto space-x-12 px-4 py-24 h-[580px] shadow border-1">
<div class=" shadow-lg">
    <img src="../../assets/doc-removebg-preview.png" alt="">
    <p class="text-center mb-4 font-light">Doctors</p>
    <p class="text-center mb-2 font-extralight">Find help from professional doctors</p>
</div>
<div class="shadow-lg">
    <img class="h-[400px]" src="../../assets/appointment-removebg-preview.png" alt="">
    <p class="text-center mb-4 font-light">Appointments</p>
    <p class="text-center mb-2 font-extralight">Set appointments easily for the patient</p>
</div>
<div class="shadow-lg">
    <img class="h-[400px]" src="../../assets/profile 1.png" alt="">
    <p class="text-center z font-light">Profile</p>
    <p class="text-center mb-2 font-extralight">Manage your profile with ease</p>
</div>
</div>
