<app-doctornavbar></app-doctornavbar>



<div class="container mx-auto  px-2 w-1/2 h-[500px] shadow-lg mt-24">


    <h2 class="text-xl font-bold mb-4 text-center py-12">Patient Appointments</h2>
    <table class="w-full border border-gray-300 table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left border border-gray-300 text-xs font-medium uppercase tracking-wider">Name and Surname</th>
          <th class="px-4 py-2 text-left border border-gray-300 text-xs font-medium uppercase tracking-wider">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            
          <td class="px-4 py-2 border border-gray-300"><a href=""[routerLink]="['/doctordescription']">Patience Makwarela</a> </td>
          <!-- <td class="px-4 py-2 border border-gray-300">10/02/2024</td> -->
          <td class="px-4 py-2 border border-gray-300">10:45</td>
        </tr>
      </tbody>
    </table>
    
    
    
    </div>