<app-navbarpatient></app-navbarpatient>



<div class="flex flex-row gap-12 px-12 py-24  ">
    <button class="w-full bg-white shadow-lg px-4 py-2 rounded-s hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
      <h1 class="font-bold">View appointments</h1>
      <img class="h-[300px] w-[500px]" src="../../assets/vieww-removebg-preview.png" alt="">
    </button>

    
    <button class="w-full bg-white shadow-lg px-4 py-2 rounded-s hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
      <h1 class="font-bold">Sick Letter</h1>
      <img  class="h-[300px] w-[500px]" src="../../assets/sickletter-removebg-preview.png" alt="">
    </button>
    <button class="w-full bg-white shadow-lg px-4 py-2 rounded-s hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
      <h1 class="font-bold">Make Payment</h1>
      <img class="h-[300px] w-[500px]" src="../../assets/pay-removebg-preview.png" alt="">
    </button>
  </div>
