<app-doctornavbar></app-doctornavbar>


<div class="bg-white rounded-lg shadow-md px-4 py-8 container mx auto w-[650px] h-[600px] mt-12 ml-[450px]">
    <h2 class="text-xl font-bold mb-4">Medical Information</h2>
    <h1 class="py-8 font-bold">Patience Makwarela</h1>
  
    <div class="border border-gray-300 rounded-md px-4 py-4">
      <textarea id="description" class="w-full h-24 resize-none border-none focus:outline-none focus:ring-blue-500 focus:ring-1" placeholder="Describe your condition or symptoms..."></textarea>
    </div>
  
    <div class="grid grid-cols-1 gap-4 mt-4">
      <label for="pain-summary" class="text-sm font-medium">Name of sickness</label>
      <input type="text" id="pain-summary" class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-blue-500 focus:ring-1">
  
      <label for="medication" class="text-sm font-medium">Prescribed Medication (if any)</label>
      <input type="text" id="medication" class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-blue-500 focus:ring-1">
    </div>
    <button [routerLink]="['/bookpatient']" type="button" class="mt-8 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Create</button>

  </div>
  