<div class="px-4 flex py-2 border-1 bg-white shadow">
        
  <div class="w-12 h-12 ">
      <img src="../../assets/logo-removebg-preview.png" alt="" >
      
  </div>
  
  
      <ul class="flex space-x-24 font-bold py-2 ml-[900px]">
          <li><a href=""[routerLink]="['/bookdoctor']">HOME</a></li>
          <li><a href=""[routerLink]="['/users']">USERS</a></li>
          <li><a href="">LOGOUT</a></li>
      </ul>
  
</div> 

<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
          <a href="#"[routerLink]="['/patient']" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Patients</a>
      </li>
      <li class="me-2">
          <a href="#"[routerLink]="['/doctor']" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" aria-current="page">Doctors</a>
      </li>
   
  </ul>
</div>
