<app-navbarpatient></app-navbarpatient>

<div class="container mx-auto px-4 py-8 max-w-2xl bg-white rounded-lg shadow-md mt-24">
    <h1 class="text-center text-2xl font-bold mb-4">Sick Letter</h1>
    <p class="text-gray-600">Date: <span id="date">12/08/2024</span></p>
    <p class="text-gray-600">To Whom It May Concern,</p>
    <p class="text-gray-700">
      This letter serves as a formal notification that I will be unable to work from
      <span id="start-date">12/08/2024</span> to <span id="end-date">12/08/2024</span>
      due to illness. I have been experiencing [brief description of illness] and need to take
      time to recover.
    </p>
    <p class="text-gray-700">
      I apologize for any inconvenience this may cause and will ensure all my urgent
      tasks are completed before my absence. I will also be available remotely to answer
      any critical questions.
    </p>
    <p class="text-gray-700">
      I expect to return to work on <span id="return-date">12/08/2024</span>. In the
      meantime, you can reach me via email at [your email address] for any urgent matters.
    </p>
    <p class="text-gray-700 font-bold">Sincerely,</p>
    <p class="text-gray-700 font-bold"><span id="name">Tiny Modiba</span></p>
  </div>
  <button  class="mt-12 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 ml-[500px]">Download PDF</button>
  